{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    <div class="container">
        {% for msg in app.flashes('success') %}
            <div style="margin-bottom:0;text-align:center;" class="alert alert-success">
                {{msg}}
            </div>
            
            {# <div style="margin-bottom:0; text-align:center;" class="alert alert-sucess">
                {{msg}}
            </div> #}
        {% endfor %}

    </div>

{% endblock %}
