{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    {# <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        {{tockenLifetime|date ('g')}} 
    </p> 

    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    #}

     <div class="container">
        <p>
        Si un compte correspondant à l'email que vous avez saisi existe, un mail vous a été envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{tokenLifetime|date('g')}} heures
        </p>
        <p>Si vous n'avez pas recu d'email, vérifiez votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayé</a></p>
    </div>
    
{% endblock %}

{# {% extends 'base.html.twig' %}

    {% block title %}Email de reinitialisation de mot de passe envoyé{% endblock %}

    {% block body %}
    <div class="container">
        <p>
        Si un compte correspondant à l'email que vous avez saisi existe, un mail vous a été envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{tokenLifetime|date('g')}} heures
        </p>
        <p>Si vous n'avez pas recu d'email, vérifiez votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">réessayé</a></p>
        </div>
    {% endblock %} #}