{% extends 'base.html.twig' %}

{% block title %}Listes des Catégories{% endblock %}

{% block body %}

    <div class="container">

        {% for message in app.flashes('success') %}
            <div style="margin-bottom:0;text-align:center;" class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        <h1>Listes des catégories</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
            <a type="button" class="btn btn-primary" href="{{ path('category.add') }}">Ajouter une catégorie</a>
        {% endif %}

        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <th scope='col'>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                            <td>
                                <a href="{{ path('category.edit', {id:category.id}) }}" class="btn btn-primary">Editer</a>
                                <form method="post" action="{{ path('category.delete', {id:category.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~category.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
