{% extends "base.html.twig" %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}

    <div class="container">
        <h1>Modifier une salle</h1>
        <a href="{{ path('room') }}" class="btn btn-primary">Retour</a>
        {{ include('room/_form.html.twig') }}
    </div>
    
{% endblock %}