{% extends 'base.html.twig' %}

{% block title %} Ville affiché par ville {% endblock %}

{% block body %}
    <div class="container">
        {% for room in rooms %}
        <li>{{room.id }} | {{room.name}} | {{room.city}}</li>
        {% endfor %}
    </div>
{% endblock %}