<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home')}}">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('room')}}">Voir les salles</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('category')}}">Voir les catégories</a>


                    {# {% if app.user.isVerified %}<a class="nav-link" href="#">Profil </a>{% endif %} #}
                    {# {% if app.user.isVerified is defined and app.user.isVerified %}<a class="nav-link" href="#">Profil </a>{% endif %} #}
                    {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="#">Profil </a> {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="{{ path('app_login')}}">Connexion </a> {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a class="nav-link" href="{{ path('app_logout')}}">Deconnexion </a> {% endif %} #}
                
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
                        <a class="nav-link" href="#">Profil</a> 
                        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
                        <a class="nav-link" href="{{ path('app_register')}}">Créer un compte</a>
                    {% endif %}
                </div>
                
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
